<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('common/header') %>

    <h1>Profile</h1>
    <h1>welcome <%= data.name %> </h1>
    <h3>Age :-<%= data.age %> </h3>
    <h3>city :-<%= data.city %> </h3>
    <h3>Skills :- <% data.skills.forEach( (item) =>{ %> 
        <h4><li><%= item %></li></h4>
        <% }) %>
    </h3>
</body>
</html>